<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>Twitchify - User Config Dashboard</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="shortcut icon" href="images/favicon-black.jpg">
    <link href='https://fonts.googleapis.com/css?family=Rubik:400,700,700i' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='style.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


</head>

<body class="page-template-onepage">

    <div class="site-wrapper">

        <div class="doc-loader">
            <img src="images/preloader.svg" alt="Twitchify">
        </div>

        <header class="header-holder">
            <div class="menu-wrapper center-relative relative">
                <div class="header-logo">
                    <a href="/"><img src="images/logo.jpg" alt="Twitchify"></a>
                </div>

                <div class="toggle-holder">
                    <div id="toggle">
                        <div class="first-menu-line"></div>
                        <div class="second-menu-line"></div>
                        <div class="third-menu-line"></div>
                    </div>
                </div>

                <div class="menu-holder">
                    <nav id="header-main-menu">
                        <ul class="main-menu sm sm-clean">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            {% if connected %}
                            <li>
                                <a href="#connect">Alert URL</a>
                            </li>
                            <li>
                                <a href="#config">Configure Alerts</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#connect">Connect</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
        </header>

        <div id="connect" class="section">
            <div class="page-title-holder">
                <h3 class="entry-title">
                    {% if connected %}
                    Alert URL
                    {% else %}
                    Connect Twitch
                    {% endif %}
                </h3>
            </div>
            <div class="section-wrapper block content-1170 center-relative">
                <div class="content-wrapper">
                    <div class="button-container">
                        {% if connected %}
                        <div class="container-fluid mt-5">
                            <div class="form-group mb-3">
                                <label for="url-display">Twitch Alert URL</label>
                                <input type="text" class="form-control" id="url-display" readonly>
                                <small class="text-muted">* Add a new browser
                                    source and paste your URL. Do not forget to check the <strong>'Refresh browser when
                                        scene becomes active'</strong> option.
                                </small>
                            </div>
                            <div class="container-fluid d-md-flex flex-md-row flex-column justify-content-between">
                                <div>
                                    <button class="btn btn-outline-success" id="show-url-button">Show URL</button>
                                    <button class="btn btn-outline-success" id="copy-button">Copy URL</button>
                                    <button class="btn btn-outline-success" id="open-url"
                                        onclick="window.open(appUrl + 'alert/' + originalUrl)">Open URL</button>
                                </div>
                                <div>
                                    <button class="btn btn-outline-warning" id="regenerate-button">Regenerate
                                        URL</button>
                                    <button class="btn btn-outline-danger"
                                        onclick="window.location.href='/disconnect'">Disconnect Twitch</button>
                                </div>
                            </div>
                            <div class="container-fluid d-md-flex flex-md-row flex-column justify-content-center mt-3">
                                <button class="btn btn-outline-info mx-1" id="test-follow" name="follow">Test
                                    Follow</button>
                                <button class="btn btn-outline-info mx-1" id="test-newsub" name="newsub">Test New
                                    Sub</button>
                                <button class="btn btn-outline-info mx-1" id="test-substreak" name="substreak">Test Sub
                                    Streak</button>
                                <button class="btn btn-outline-info mx-1" id="test-subgift" name="subgift">Test Sub
                                    Gift</button>
                                <button class="btn btn-outline-info mx-1" id="test-cheer" name="cheer">Test
                                    Cheer</button>
                            </div>
                        </div>
                        {% else %}
                        <div>
                            <div class="container ">
                                <a href="/auth" class="btn btn-primary btn-lg btn-block">Connect Twitch</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        {% if connected %}
        <div id="config" class="section">
            <div class="page-title-holder">
                <h3 class="entry-title">
                    Configure Alerts
                </h3>
            </div>
            <div class="section-wrapper block content-1170 center-relative">
                <div class="content-wrapper">
                    <!-- EventSub Type Checkboxes -->
                    <div class="d-flex justify-content-center">
                        <label for="event-checkboxes" class="form-label mb-2">Alert Types</label>
                    </div>
                    <div class="d-flex flex-row justify-content-center" id="event-checkboxes">
                        <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="cheer" id="channel.cheer">
                            <label class="form-check-label" for="channel.cheer">
                                Cheer
                            </label>
                        </div>

                        <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="follow" id="channel.follow">
                            <label class="form-check-label" for="channel.follow">
                                Follow
                            </label>
                        </div>

                        <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="sub" id="channel.subscribe">
                            <label class="form-check-label" for="channel.subscribe">
                                Sub
                            </label>
                        </div>

                        <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="subgift"
                                id="channel.subscription.gift">
                            <label class="form-check-label" for="channel.subscription.gift">
                                Sub Gift
                            </label>
                        </div>

                        <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="substreak"
                                id="channel.subscription.message">
                            <label class="form-check-label" for="channel.subscription.message">
                                Sub Streak
                            </label>
                        </div>


                    </div>

                    <div class="container">
                        <div class="mt-3 collapse-container" id="cheer-Collapse" style="display: none;">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#cheerCollapse"
                                aria-expanded="false" aria-controls="cheerCollapse"
                                class="collapse-button collapse-title w-100 text-start">
                                Cheer Configuration
                            </button>
                            <div id="cheerCollapse" class="collapse mt-3">

                                <div class="mb-3">
                                    <label for="cheer-soundUrl" class="form-label">Sound Url</label>
                                    <input type="url" class="form-control" id="cheer-soundUrl"
                                        onchange="updateConfig(this.id)">
                                </div>
                                <div class="mb-3">
                                    <label for="cheer-imageUrl" class="form-label">Image Url</label>
                                    <div class="d-flex column">
                                        <input type="url" class="form-control" id="cheer-imageUrl"
                                            onchange="updateConfig(this.id)">
                                        <input type="file" id="cheer-fileInput" name="cheer-fileInput"
                                            style="display: none;" accept=".png, .jpeg, .jpg, .webp, .gif">
                                        <button type="button" style="all: unset; cursor: pointer;" title="Upload File"
                                            onclick="document.getElementById('cheer-fileInput').click();">
                                            <i class="fa-solid fa-file-import fa-2xl"
                                                style="color: #74C0FC; margin-left: 2px"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="cheer-message" class="form-label">Message</label>
                                    <input type="text" class="form-control" id="cheer-message"
                                        aria-describedby="cheerMessageHelp" onchange="updateConfig(this.id)">
                                    <div class="form-text-container">
                                        <div id="cheerMessageHelp" class="form-text">${user} : Cheerer Twitch username
                                        </div>
                                        <div id="cheerMessageHelp" class="form-text">${bits} : Amount of bits</div>
                                        <div id="cheerMessageHelp" class="form-text">Anonymous cheerer's username will
                                            be shown as anonymous</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-outline-info mx-1" id="test-cheer" name="cheer">Test
                                        Cheer</button>
                                </div>


                            </div>
                        </div>

                        <div class="mt-3 collapse-container" id="follow-Collapse" style="display: none;">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#followCollapse"
                                aria-expanded="false" aria-controls="followCollapse"
                                class="collapse-button collapse-title w-100 text-start">
                                Follow Configuration
                            </button>
                            <div id="followCollapse" class="collapse mt-3">
                                <div class="mb-3">
                                    <label for="follow-soundUrl" class="form-label">Sound Url</label>
                                    <input type="url" class="form-control" id="follow-soundUrl"
                                        onchange="updateConfig(this.id)">
                                </div>
                                <div class="mb-3">
                                    <label for="follow-imageUrl" class="form-label">Image Url</label>
                                    <div class="d-flex column">
                                        <input type="url" class="form-control" id="follow-imageUrl"
                                            onchange="updateConfig(this.id)">
                                        <input type="file" id="follow-fileInput" name="follow-fileInput"
                                            style="display: none;" accept=".png, .jpeg, .jpg, .webp, .gif">
                                        <button type="button" style="all: unset; cursor: pointer;" title="Upload File"
                                            onclick="document.getElementById('follow-fileInput').click();">
                                            <i class="fa-solid fa-file-import fa-2xl"
                                                style="color: #74C0FC; margin-left: 2px"></i>
                                        </button>

                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="follow-message" class="form-label">Message</label>
                                    <input type="text" class="form-control" id="follow-message"
                                        aria-describedby="followMessageHelp" onchange="updateConfig(this.id)">
                                    <div class="form-text-container">
                                        <div id="followMessageHelp" class="form-text">${user} : Follower Twitch username
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-outline-info mx-1" id="test-follow" name="follow">Test
                                        Follow</button>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 collapse-container" id="sub-Collapse" style="display: none;">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#subCollapse"
                                aria-expanded="false" aria-controls="subCollapse"
                                class="collapse-button collapse-title w-100 text-start">
                                Sub Configuration
                            </button>
                            <div id="subCollapse" class="collapse mt-3">
                                <div>
                                    <label class="form-label mt-3" style="text-decoration: underline;">Tier1
                                        Configuration</label>
                                    <div class="mb-3">
                                        <label for="tier1-soundUrl" class="form-label">Sound Url</label>
                                        <input type="url" class="form-control" id="tier1-soundUrl"
                                            onchange="updateConfig(this.id)">
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier1-imageUrl" class="form-label">Image Url</label>
                                        <div class="d-flex column">
                                            <input type="url" class="form-control" id="tier1-imageUrl"
                                                onchange="updateConfig(this.id)">
                                            <input type="file" id="tier1-fileInput" name="tier1-fileInput"
                                                style="display: none;" accept=".png, .jpeg, .jpg, .webp, .gif">
                                            <button type="button" style="all: unset; cursor: pointer;"
                                                title="Upload File"
                                                onclick="document.getElementById('tier1-fileInput').click();">
                                                <i class="fa-solid fa-file-import fa-2xl"
                                                    style="color: #74C0FC; margin-left: 2px"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier1-message" class="form-label">Message</label>
                                        <input type="text" class="form-control" id="tier1-message"
                                            aria-describedby="tier1MessageHelp" onchange="updateConfig(this.id)">
                                        <div class="form-text-container">
                                            <div id="tier1MessageHelp" class="form-text">${user} : Sub Twitch username
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier1-showGift" class="form-check-label me-1">Show Gift</label>
                                        <input type="checkbox" class="form-check-input" id="tier1-showGift"
                                            onchange="updateConfig(this.id)">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-outline-info mx-1" id="test-newsub" name="newsub">Test
                                            Tier1 New Sub</button>
                                    </div>
                                </div>

                                <div>
                                    <label class="form-label mt-3" style="text-decoration: underline;">Tier2
                                        Configuration</label>
                                    <div class="mb-3">
                                        <label for="tier2-soundUrl" class="form-label">Sound Url</label>
                                        <input type="url" class="form-control" id="tier2-soundUrl"
                                            onchange="updateConfig(this.id)">
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier2-imageUrl" class="form-label">Image Url</label>
                                        <div class="d-flex column">
                                            <input type="url" class="form-control" id="tier2-imageUrl"
                                                onchange="updateConfig(this.id)">
                                            <input type="file" id="tier2-fileInput" name="tier2-fileInput"
                                                style="display: none;" accept=".png, .jpeg, .jpg, .webp, .gif">
                                            <button type="button" style="all: unset; cursor: pointer;"
                                                title="Upload File"
                                                onclick="document.getElementById('tier2-fileInput').click();">
                                                <i class="fa-solid fa-file-import fa-2xl"
                                                    style="color: #74C0FC; margin-left: 2px"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier2-message" class="form-label">Message</label>
                                        <input type="text" class="form-control" id="tier2-message"
                                            aria-describedby="tier2MessageHelp" onchange="updateConfig(this.id)">
                                        <div class="form-text-container">
                                            <div id="tier2MessageHelp" class="form-text">${user} : Sub Twitch username
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier2-showGift" class="form-check-label me-1">Show Gift</label>
                                        <input type="checkbox" class="form-check-input" id="tier2-showGift"
                                            onchange="updateConfig(this.id)">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-outline-info mx-1" id="test-tier2" name="tier2">Test
                                            Tier2 New Sub</button>
                                    </div>
                                </div>

                                <div>
                                    <label class="form-label mt-3" style="text-decoration: underline;">Tier3
                                        Configuration</label>
                                    <div class="mb-3">
                                        <label for="tier3-soundUrl" class="form-label">Sound Url</label>
                                        <input type="url" class="form-control" id="tier3-soundUrl"
                                            onchange="updateConfig(this.id)">
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier3-imageUrl" class="form-label">Image Url</label>
                                        <div class="d-flex colum">
                                            <input type="url" class="form-control" id="tier3-imageUrl"
                                                onchange="updateConfig(this.id)">
                                            <input type="file" id="tier3-fileInput" name="tier3-fileInput"
                                                style="display: none;" accept=".png, .jpeg, .jpg, .webp, .gif">
                                            <button type="button" style="all: unset; cursor: pointer;"
                                                title="Upload File"
                                                onclick="document.getElementById('tier3-fileInput').click();">
                                                <i class="fa-solid fa-file-import fa-2xl"
                                                    style="color: #74C0FC; margin-left: 2px"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier3-message" class="form-label">Message</label>
                                        <input type="text" class="form-control" id="tier3-message"
                                            aria-describedby="tier3MessageHelp" onchange="updateConfig(this.id)">
                                        <div class="form-text-container">
                                            <div id="tier3MessageHelp" class="form-text">${user} : Sub Twitch username
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tier3-showGift" class="form-check-label me-1">Show Gift</label>
                                        <input type="checkbox" class="form-check-input" id="tier3-showGift"
                                            onchange="updateConfig(this.id)">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-outline-info mx-1" id="test-tier3" name="tier3">Test
                                            Tier3 New Sub</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="mt-3 collapse-container" id="subgift-Collapse" style="display: none;">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#subgiftCollapse"
                                aria-expanded="false" aria-controls="subgiftCollapse"
                                class="collapse-button collapse-title w-100 text-start">
                                Sub Gift Configuration
                            </button>
                            <div id="subgiftCollapse" class="collapse mt-3">
                                <div>
                                    <label class="form-label mt-3" style="text-decoration: underline;">Nonanonymous Gift
                                        Configuration</label>
                                    <div class="mb-3">
                                        <label for="subgift-soundUrl" class="form-label">Sound Url</label>
                                        <input type="url" class="form-control" id="subgift-soundUrl"
                                            onchange="updateConfig(this.id)">
                                    </div>
                                    <div class="mb-3">
                                        <label for="subgift-imageUrl" class="form-label">Image Url</label>
                                        <div class="d-flex column">
                                            <input type="url" class="form-control" id="subgift-imageUrl"
                                                onchange="updateConfig(this.id)">
                                            <input type="file" id="subgift-fileInput" name="subgift-fileInput"
                                                style="display: none;" accept=".png, .jpeg, .jpg, .webp, .gif">
                                            <button type="button" style="all: unset; cursor: pointer;"
                                                title="Upload File"
                                                onclick="document.getElementById('subgift-fileInput').click();">
                                                <i class="fa-solid fa-file-import fa-2xl"
                                                    style="color: #74C0FC; margin-left: 2px"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="subgift-message" class="form-label">Message</label>
                                        <input type="text" class="form-control" id="subgift-message"
                                            aria-describedby="subgiftMessageHelp" onchange="updateConfig(this.id)">
                                        <div class="form-text-container">
                                            <div id="subgiftMessageHelp" class="form-text">${user} : Gifter Twitch
                                                username
                                            </div>
                                            <div id="subgiftMessageHelp" class="form-text">${amount} : Amount of gifted
                                                subs</div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-outline-info mx-1" id="test-subgift" name="subgift">Test
                                            Sub Gift</button>
                                    </div>
                                </div>

                                <div>
                                    <label class="form-label mt-3" style="text-decoration: underline;">Anonymous Gift
                                        Configuration</label>
                                    <div class="mb-3">
                                        <label for="submysterygift-soundUrl" class="form-label">Sound Url</label>
                                        <input type="url" class="form-control" id="submysterygift-soundUrl"
                                            onchange="updateConfig(this.id)">
                                    </div>
                                    <div class="mb-3">
                                        <label for="submysterygift-imageUrl" class="form-label">Image Url</label>
                                        <div class="d-flex column">
                                            <input type="url" class="form-control" id="submysterygift-imageUrl"
                                                onchange="updateConfig(this.id)">
                                            <input type="file" id="submysterygift-fileInput"
                                                name="submysterygift-fileInput" style="display: none;"
                                                accept=".png, .jpeg, .jpg, .webp, .gif">
                                            <button type="button" style="all: unset; cursor: pointer;"
                                                title="Upload File"
                                                onclick="document.getElementById('submysterygift-fileInput').click();">
                                                <i class="fa-solid fa-file-import fa-2xl"
                                                    style="color: #74C0FC; margin-left: 2px"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="submysterygift-message" class="form-label">Message</label>
                                        <input type="text" class="form-control" id="submysterygift-message"
                                            aria-describedby="submysterygiftMessageHelp"
                                            onchange="updateConfig(this.id)">
                                        <div class="form-text-container">
                                            <div id="submysterygiftMessageHelp" class="form-text">${amount} : Amount of
                                                gifted subs</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-outline-info mx-1" id="test-submysterygift"
                                        name="submysterygift">Test
                                        Anon Sub Gift</button>
                                </div>
                            </div>
                        </div>


                        <div class="mt-3 collapse-container" id="substreak-Collapse" style="display: none;">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#substreakCollapse"
                                aria-expanded="false" aria-controls="substreakCollapse"
                                class="collapse-button collapse-title w-100 text-start">
                                Sub Streak Configuration (Resub)
                            </button>
                            <div id="substreakCollapse" class="collapse mt-3">
                                <div class="mb-3">
                                    <label for="resub-soundUrl" class="form-label">Sound Url</label>
                                    <input type="url" class="form-control" id="resub-soundUrl"
                                        onchange="updateConfig(this.id)">
                                </div>
                                <div class="mb-3">
                                    <label for="resub-imageUrl" class="form-label">Image Url</label>
                                    <div class="d-flex column">
                                        <input type="url" class="form-control" id="resub-imageUrl"
                                            onchange="updateConfig(this.id)">
                                        <input type="file" id="resub-fileInput" name="resub-fileInput"
                                            style="display: none;" accept=".png, .jpeg, .jpg, .webp, .gif">
                                        <button type="button" style="all: unset; cursor: pointer;" title="Upload File"
                                            onclick="document.getElementById('resub-fileInput').click();">
                                            <i class="fa-solid fa-file-import fa-2xl"
                                                style="color: #74C0FC; margin-left: 2px"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="resub-message" class="form-label">Message</label>
                                    <input type="text" class="form-control" id="resub-message"
                                        aria-describedby="resubMessageHelp" onchange="updateConfig(this.id)">
                                    <div class="form-text-container">
                                        <div id="resubMessageHelp" class="form-text">${user} : Sub Twitch username</div>
                                        <div id="resubMessageHelp" class="form-text">${months} : Amount of streak months
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-outline-info mx-1" id="test-substreak" name="substreak">Test
                                        Sub Streak</button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-5">
                            <button class="btn btn-outline-success" id="save-config" style="display: none;"
                                onclick="saveConfig()">Save Config</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {% endif %}
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content center-relative">
            <div class="footer-logo">
                <img src="images/favicon-black.jpg" alt="Twitchify" />
            </div>
            <div class="footer-logo-divider"></div>
            <div class="footer-mail">
                <a href="mailto:help@twitchify.com">help@twitchify.com</a>
            </div>
            <div class="footer-social-divider"></div>
            <div class="social-holder">
                <a href="#">
                    <span class="fa fa-twitter"></span>
                </a>
                <a href="#">
                    <span class="fa fa-facebook"></span>
                </a>
                <a href="#">
                    <span class="fa fa-behance"></span>
                </a>
                <a href="#">
                    <span class="fa fa-dribbble"></span>
                </a>
            </div>

            <div class="copyright-holder">
                © 2023 Twitchify
            </div>
        </div>
    </footer>
    <div class="container">
        <div class="row fixed-bottom g-0">
            <div class="alert alert-success col-md-auto" id="success-alert">
                <strong>Success! </strong>
                <p style="display:inline;"></p>
            </div>
            <div class="alert alert-danger col-md-auto" id="danger-alert">
                <strong>Error! </strong>
                <p style="display:inline;"></p>
            </div>
        </div>
    </div>
</body>

<!--Load JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="js/jquery.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/tipper.js"></script>
<script src="js/jarallax.js"></script>
<script src="js/jarallax-element.min.js"></script>
<script src='js/imagesloaded.pkgd.js'></script>
<script src='js/jquery.fitvids.js'></script>
<script src='js/jquery.smartmenus.min.js'></script>
<script src='js/isotope.pkgd.js'></script>
<script src='js/owl.carousel.min.js'></script>
<script src='js/jquery.sticky-kit.min.js'></script>
<script src='js/main.js'></script>
<script src="https://kit.fontawesome.com/91392e7091.js" crossorigin="anonymous"></script>

<!--Eventsub Type Checkboxes -->
<script>
    var eventSubs = '{{eventSubTypes}}' == "null" ? [] : "{{eventSubTypes}}".split(",");
    var configs = JSON.parse('{{configs}}')

    window.onload = function () {
        if (eventSubs.length > 0) {
            document.getElementById('save-config').style.display = "block";
        }
        eventSubs.forEach(function (eventSub) {
            let checkbox = document.getElementById(eventSub);
            checkbox.checked = true;
            let collapse = document.getElementById(checkbox.value + '-Collapse');
            collapse.style.display = "block";
            let config = document.getElementById(checkbox.value + 'Collapse');
            config.querySelectorAll('input').forEach(function (input) {
                if (input.type == "checkbox") {
                    input.checked = configs[input.id.split('-')[0]].hasOwnProperty(input.id.split('-')[1]) ? configs[input.id.split('-')[0]][input.id.split('-')[1]] : false;
                } else if (input.type != "file") {
                    input.value = configs[input.id.split('-')[0]].hasOwnProperty(input.id.split('-')[1]) ? configs[input.id.split('-')[0]][input.id.split('-')[1]] : "-";
                }
            });
        });
    }

    // Listen for checkbox changes
    var checkboxes = document.getElementById('event-checkboxes').querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            var checkboxValue = this.value;
            var collapse = document.getElementById(checkboxValue + '-Collapse');
            if (this.checked) {
                collapse.style.display = "block";
                eventSubs.push(checkbox.id);
            } else {
                collapse.style.display = "none";
                eventSubs.splice(eventSubs.indexOf(checkbox.id), 1);
            }
            if (eventSubs.length == 0 && document.getElementById('save-config').style.display == "block") {
                document.getElementById('save-config').style.display = "none";
            } else if (eventSubs.length > 0 && document.getElementById('save-config').style.display == "none") {
                document.getElementById('save-config').style.display = "block";
            }
        });
    });
</script>

<!-- Eventsub Configuration -->
<script>
    function updateConfig(id) {
        var input = document.getElementById(id);
        if (input.type == "checkbox") {
            configs[id.split('-')[0]][id.split('-')[1]] = input.checked;
        } else if (input.type != "file") {
            var value = input.value;
            configs[id.split('-')[0]][id.split('-')[1]] = value;
        };
    };

    function saveConfig() {
        $.ajax({
            url: appUrl + "update-config",
            type: "POST",
            data: { configs: JSON.stringify(configs), eventSubs: eventSubs },
            success: function (response) {
                if (response == "success") {
                    alert("success", "Configurations saved!");
                } else {
                    alert("danger", "Configurations could not saved!");
                }
            },
            error: function () {
                alert("danger", "Configurations could not saved!");
            }
        });
    }
</script>

<!-- File Uplaod -->
<script>

    var fileInputs = document.querySelectorAll('input[type="file"]');
    fileInputs.forEach(function (fileInput) {
        fileInput.addEventListener('change', function () {
            var file = fileInput.files[0];

            if(file.size > 1024 * 1024 * 1){
                alert("danger", "File size must be less than 1MB!");
                return;
            }

            var formData = new FormData();
            formData.append('file', file, file.name);
            formData.append('type', fileInput.id.split('-')[0]);

            $.ajax({
                url: appUrl + "upload",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.status == "success") {
                        alert("success", "Image uploaded!");
                        document.getElementById(fileInput.id.split('-')[0] + '-imageUrl').value = response.url;
                        updateConfig(fileInput.id.split('-')[0] + '-imageUrl');
                    } else {
                        alert("danger", "Image could not uploaded!");
                    }
                },
                error: function () {
                    alert("danger", "Image could not uploaded!");
                }
            })
        });
    });
</script>

<script>
    const eventSubEnum = {
        "follow": "channel.follow",
        "newsub": "channel.subscribe",
        "tier2": "channel.subscribe",
        "tier3": "channel.subscribe",
        "substreak": "channel.subscription.message",
        "subgift": "channel.subscription.gift",
        "submysterygift": "channel.subscription.gift",
        "cheer": "channel.cheer"
    };
</script>


<script>

    const urlDisplay = document.getElementById('url-display');
    const showUrlButton = document.getElementById('show-url-button');
    const copyButton = document.getElementById('copy-button');

    let appUrl = "{{appUrl}}";
    let originalUrl = "{{alertID}}"; // Backend tarafından alınan URL
    let urlVisible = false;

    $(document).ready(function () {
        $("#success-alert").hide();
        $("#danger-alert").hide();
    });

    function alert(type, message) {
        if (type == "success") {
            $("#success-alert p").text(message);
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        } else if (type == "danger") {
            $("#danger-alert p").text(message);
            $("#danger-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#danger-alert").slideUp(500);
            });
        }
    }

    function copy(id) {
        var copyText = document.getElementById(id).innerText;
        navigator.clipboard.writeText(copyText).then(() => {
            alert("success", "URL copied!");
        }).catch(() => { alert("danger", "URL could not copied!"); });
    };

    if (urlDisplay != null) {
        updateUrlVisibility();

        showUrlButton.addEventListener('mousedown', function () {
            urlVisible = true;
            updateUrlVisibility();
        });

        showUrlButton.addEventListener('mouseup', function () {
            urlVisible = false;
            updateUrlVisibility();
        });

        copyButton.addEventListener('click', function () {
            navigator.clipboard.writeText(appUrl + "alert/" + originalUrl).then(() => {
                alert("success", "URL copied!");
            }).catch(() => { alert("danger", "URL could not copied!"); });
        });

    }


    function updateUrlVisibility() {
        if (urlVisible) {
            urlDisplay.value = appUrl + "alert/" + originalUrl;
        } else {
            urlDisplay.value = '*'.repeat((appUrl + "alert/" + originalUrl).length);
        }
    }

    $("#regenerate-button").on("click", function () {
        $.ajax({
            url: appUrl + "regenerate",
            type: "POST",
            success: function (response) {
                if (response.status == "success") {
                    originalUrl = response.newTrackID;
                    alert("success", "URL regenerated!");
                } else {
                    alert("danger", "URL could not regenerated!");
                }
            },
            error: function () {
                alert("danger", "URL could not regenerated!");
            }
        });
    });

    $(document).ready(function () {
        $("#test-follow, #test-newsub, #test-substreak, #test-subgift, #test-cheer, #test-tier2, #test-tier3, #test-submysterygift").on("click", function () {
            var testName = $(this).attr("name");

            if (eventSubs.includes(eventSubEnum[testName])) {

                $.ajax({
                    url: appUrl + "test",
                    type: "POST",
                    data: { testName: testName, config: configs }, // İlgili test adını ve değerini gönder
                    success: function (response) {
                        if (response == "success") {
                            alert("success", "Test successful!");
                        } else {
                            alert("danger", "Twitch alert page is not open!");
                        }
                    },
                    error: function () {
                        alert("danger", "Test failed!");
                    }
                });
            } else {
                alert("danger", "Please select the relevant type from the Alert Types section!");
            }
        });

    });
</script>

</html>